body {
    font-family: Arial, sans-serif;
    background-color: #eb7741;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: rgb(230, 225, 158);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.question {
    margin-bottom: 30px; /* Увеличиваем отступ между вопросами */
}

.result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
label1 {
    display: block; /* Заставляем каждый label занимать всю ширину строки */
    margin-bottom: 5px; /* Добавляем небольшой отступ между вариантами ответов */
}